@media screen and (min-width:481px) and (max-width:768px) { 
    body {
        padding: 0% 10% 0% 10%;
    }
    /* NAVIGATION SECTION */
    .navigation-component{
        >.nav-left{
            width: 15%;
            font-size: 14px;
            column-gap: 5px;
            img {
                width: 15px;
                
            }
        }
        >.nav-middle {
            width: 65%;
            >.nav-middleContent{
                li {
                    display: flex;
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
        >.nav-right{
            width: 30%;
            column-gap: 5px;
            button {
                width: auto;
                height: auto;
                border: 1px;
                border-radius: 2px;
                font-size: 12px;
            }
        }
    }
    
    /* HOME PAGE TOP SECTION */
    .home-content {
        /* HOME PAGE TOP LEFT SECTION */
        >.home-left{
            width: 50%;
            height: auto;
            margin-top: 2%;
            h1 {
                font-size: 18px;
            }
            >.home-left-content{
                margin-top:5px ;
                p {
                    padding-right: 0px;
                    font-size: 10px;
                    margin-bottom: 15px;
                }
                button {
                    width: 80px;
                    height: 20px;
                    border-radius: 3px;
                    font-size: 10px;  
                }
            }
        }
        >.home-right{
            width: 50%;
            height: auto;
            img {
              width: 270px;
              height: 200px;
            }
         }
    }
    /* HOME PAGE BOTTOM SECTION */
    .home-bottom{
        column-gap: 5px;
        margin: 5% 0% 0% 0%;
        div{
            column-gap: 5px;
            font-size: 10px;
            >.home-discription{
                font-size: 8px;
                margin-top:5px ;
            }
        }
        img{
            width: 8px;
            height: 8px;
        }
        button {
            width: 80px;
            height: 33px;
            font-size: 10px; 
        }
        button:hover{
                color: var(--BT-ORANGE);
                background-color: var(--BT-WHITE);
                border: 1px solid #FA7436;
        }
    
    }
    /* PAGE TWO */
    .sectiontwo{
        /* PAGE TWO TOP SECTION */
        >.section-two{
            img{
                width: 53px;
                height: 41px;
                right: 42px;
            }
            >.section-two-top{
                font-size: 18px;
                margin-bottom: 10px;
            }
            >.section-two-top2{
                font-size: 10px;
                width: 247px;
                height: 30px;
                margin-bottom: 5%;
            }   
        }
        /* PAGE TWO BOTTOM SECTION */
        >.section-two-bottom{
            align-items: center;
            >.section-bottom{
                padding: 10px;
                width: 130px;
                background-color: #ffffff;
                border-radius: 5px;
                img{
                    width: 22px;
                    height: 22px;
                    margin-bottom: 10px;
                    border-radius: 2px;
                }
                h2{
                    font-size: 11px;
                    margin-bottom: 2px;
                }
                p{
                    font-size: 8px;
                }
            }
        }
    }
    /* PAGE THREE */
    .sectionthree{
        margin: 5% 0% 5% 0%;
        /* PAGE THREE TOP SECTION */
        >.section-three{
            align-items: center;
            flex-direction: column;
            >.section-three-top{
                font-size: 18px;
                text-align: center;
                margin-bottom: 7px;
            }
            >.section-three-top2{
                font-size: 10px;
                width: 100%;
                height: auto;
                margin-bottom: 2%;
            }   
        }
        /* PAGE THREE BOTTOM SECTION */
        >.section-three-cart{
            margin-bottom: 3%;
            >.three-cart{
                width: 109px;
                height: 144px;
                margin-top: 3%;
                >.cart-button{
                    padding: 5px;
                    width: auto;
                    height: auto;
                    top: 40%;
                    right: 25%;
                    font-size: 10px;
    
                }
                .cart-button:hover{
                    font-size: 12px;
                }
                img{
                    height: 64%;   
                }
                >.three-cart-middle{
                    padding: 0% 7px 0% 7px;
                    justify-content: space-between;
                    margin-bottom: 5px ;
                    margin-top: 10%;
                    >.city-name{
                        font-size: 13px;
                    }
                    >.city-ratings{
                        justify-content: center;
                        column-gap: 5px;
                        img{
                            width: 8px;
                            height: 8px;
                            margin-top:1px ;
                        }
                        >.city-rat{
                            font-size: 8px;
                        }
                    }
                }
                >.three-cart-bottom{
                    margin-bottom: 10% ;
                    >.city-location{
                        column-gap: 2px;
                        
                        img{
                            width: 7px;
                            height: 9px;
                        }
                        >.city-name{
                            font-size: 7px;
                            margin-top: 2px;
                            align-items: center;
                            display: flex;
                        }
                    }
                    >.city-rate{
                        align-items: center;
                        display: flex;
                        column-gap: 3px;
                            >.city-rate-1{
                                font-size: 7px;
                            }
                            >.city-rate-2{
                                align-items: center;
                                display: flex;
                                height:9px;
                                border-radius: 2px;
                                font-size: 7px;
                            }
                    }
                }
    
            }
        }
        >.next-btn-1{
            display: flex;
            column-gap: 10px;
            align-items: center;
            justify-content: center;
            img{
                width: 20px;
            }
        }
    }
    /* PAGE FOUR */
    .sectionfour{
        margin: 5% 0% 5% 0%;
        /* PAGE FOUR TOP SECTION */
        >.section-four{
            >.tree-element-one{
                width: 50px;
                height: 40px;
                right: 60px;
            }
            >.section-four-top{
                font-size: 18px;
                margin-bottom: 10px;
            }
            >.section-four-top2{
                font-size: 10px;
                width: 260px;
                height: 30px;
            }   
        }
        >.next-btn-2{
            margin-top: 2%;
            column-gap: 8px;
           img{
            width: 18px;
           }
        }
        /* PAGE FOUR BOTTOM SECTION */
        >.section-four-cart{
            >.four-cart{
                margin-top: 5%;
                width: 131px;
                height: auto;
                img{
                    width: 100%; 
                    height: 110px; 
                }
                >.four-cart-middle{
                    margin-bottom: 10px;
                    >.city-name-four{
                        font-size: 13px;
                    }
                    >.city-rate-four{
                        column-gap: 5px;
                            >.city-rate-2-four{
                                height: 100%;
                                width: 100%;
                                font-size: 9px;
                            }
                    }
                }
                >.four-cart-bottom{
                    >.city-location-four{
                        column-gap: 5px;
                        align-items: center;
                        img{
                            width: auto;
                            height: 9px;
                        }
                        >.city-name-four{
                            font-size: 8px;
                        }
                    }
                    >.city-ratings-four{
                        img{
                            width: 8px;
                            height: 8px;
                            margin-top:2px ;
                        }
                        >.city-rat-four{
                            font-size: 9px;
                        }
                    }
                }
    
            }
        }
    }
    /* PAGE FIVE */
    .section-five{
        column-gap: 50px;
        position: static;
        flex-direction: column;
        align-items: center;
        /* PAGE FIVE LEFT SECTION */
        >.section-five-left{
            text-align: center;
            width: 100%;
            >.section-five-top{
                font-size: 18px;
                margin-bottom: 10px;
            }
            >.section-five-top2{
                font-size: 10px;
                margin-bottom:5px;
                width: 100%;
                height: auto;
                
            }
            >.next-btn-3{
                margin-bottom: 10%;
                column-gap: 10px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                img{
                    width: 20px;
                }
            }
        }
        /* PAGE FIVE RIGHT SECTION */
        >.section-five-right{
            width: 380px;
            height: 280px;
            cursor: pointer;
            position: relative;
            >.section-five-right-one{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                top: 76px;
                left: 60px;
                width: 330px;
                height: 150px;
                border-radius: 10px;
                background-color: #FFFFFF;
                div{
                    margin: 0px 10px 5px 10px;
                    >.section-five-right-one-p1{
                        font-size: 15px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                    >.section-five-right-one-p2{
                        font-size: 10px;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
            >.section-five-right-two{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                top: 23px;
                left: 23px;
                width: 330px;
                height: 150px;
                border-radius: 10px;
                background-color: #FFFFFF;
                div{
                    margin: 0px 15px 5px 15px;
                    >.section-five-right-two-p1{
                     font-size: 10px;
                    }
                    >.section-five-right-two-p2{
                        margin-top: 5px;
                        font-size: 11px;
                    }
                    >.section-five-right-two-p3{
                        margin-top: 5px;
                        margin-bottom: 5px;
                        font-size: 8px;
                    }
                }
            }
            #shado-one{
                box-shadow: 0 2px 1px rgba(0,0,0,0.09), 0 4px 2px rgba(0,0,0,0.09), 0 8px 4px rgba(0,0,0,0.09), 0 16px 8px rgba(0,0,0,0.09), 0 32px 16px rgba(0,0,0,0.09);
            }
            >.section-five-right-three{
                position: absolute;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                top: 0px;
                left: 0px;
            }
            >.air-two{
                right: 0px;
                top: 0px;
                position: absolute;
                img{
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }
    /* PAGE SIX */
    .sectionsix{
        margin: 5% 0% 5% 0%;
        /* PAGE SIX TOP SECTION */
        >.section-six{
            >.section-six-top{
                font-size: 25px;
            }
        }
        /* PAGE SIX BOTTOM SECTION */
        >.section-six-cart{
            justify-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            >.six-cart{
                width: 47%;
                height: -1%;
                >.six-cart-middle{
                    margin-bottom: 5px ;
                    >.city-name-six{
                        font-size: 11px;
                    }
                }
                >.six-cart-bottom{
                    padding: 0% 7px 0% 7px;
                    >.city-location-six{
                        >.city-name-six{
                            font-size: 10px;
                        }
                    }
                }
            }
        }
        >.section-six-slider{
            margin-top: 5%;
        }
    }
    /* PAGE SEVAN */
    .section-sevan{
        height: 160px;
        padding: 5% 0%;
        >.tree-element-two{
            width: 12%;
            height: 30%;
        }
        >.circle-element{
            width: 35%;
            height: 70%;
        }
        >.section-sevan-top{
            width: 90%;
            h1{
                margin: 0% 10% 0% 10%;
                font-size: 23px;
            }
        }
    }
    .search-container {
        border-radius: 5px;
        width: 60%;
        height: 24px;
        position: relative;
    }
    .search-box {
        padding: 3%;
        font-size: 10px;
        border-radius: 20px;
        margin-right: 5%;
        position: absolute;
    }

    .search-icon {
        margin-right: 1%;
        width: 15px;
        height: 15px;
        position: absolute;
    }

    .search-button {
        padding: 4px 7px;
        font-size: 12px;
        position: absolute;
    }
    /* PAGE EIGHT */
    .section-eight{
        margin-bottom: 5%;
        flex-direction: column;
        /* PAGE EIGHT LEFT SECTION*/
        >.section-eight-left{
            align-items: center;
            width: 100%;
            row-gap: 10px;
            >.section-eight-left-one{
                column-gap: 10px;
                img{
                    width: 25px;
                }
            }
            >.section-eight-left-two{
                text-align: center;
                padding-right: 0%;
            }
        }
        /* PAGE EIGHT RIGHT SECTION*/
        >.section-eight-right{
            width: 100%;
            margin-top: 5%;
            >.section-right-one{
                h4{
                    font-size: 18px;
                }
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                row-gap: 10px;
                span{
                    color: #666666;
                    font-size: 15px;
                }
                }
            }
        }
    }
        /* FOOTER SECTION */
    .line{
        width: 100%;
    }
    .end{
        font-size: 9px;
    }
}